#symbol_grid{
  margin-bottom: 5vw;
}

#symbol_grid>h1,h2,h3, h4, h5, h6{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cluster_children_term{
  text-align: left;
}

.clusterTitle{
  font-weight: normal;
  color: gray;
}

.cluster_child_term{
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  color: black;
}

.imgSearchTermGroup{
  margin-right: 3vw;
}
.node_img{
  height: 150px;
}

.searchTerm{
  color: black;
  text-align: center;
}

.clusterDiv{
  text-align: left;
  margin-left: 10vw;
  margin-top: 2vw;
}

.termDiv{
  margin-left: 5vw;
}

.imageRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3vw;
  margin-right: 3vw;
}

.summaryTitle{
  font-size: 35px;
  text-align: left;
  color: black;
  font-weight: bold;
  margin-left: 5vw;
  margin-bottom: 0vw; 
  margin-top: 1vw; 
}

.clusterInfo{
  font-weight: normal;
}

.find_symbol_button {
  border: #000 solid 2px;
  border-color: black;
  background-color: inherit;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 0px;
  cursor: pointer;
  /* display: inline-block; */
  border-radius: 10px;

}

.find_symbol_button:hover {background: #eee;}

#topWrap{
  padding-left: 20px;
  text-align: center;
  justify-self: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

#topWrap>h2{
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.unbold{
  font-weight: normal;
  color: gray;
}

.imageDescription{
  display: flex;
  justify-content: space-between;
}