#symbol_grid{
  margin-bottom: 5vw;
}

.cluster_children_term{
  text-align: left;
}

.clusterTitle{
  font-weight: bold;
}

.cluster_child_term{
  text-align: left;
  font-weight: normal;
  color: gray;
}

.imgSearchTermGroup{
  margin-right: 3vw;
}
.node_img{
  height: 150px;
}

.searchTerm{
  color: black;
  text-align: center;
}

.clusterDiv{
  text-align: left;
  margin-left: 10vw;
  margin-top: 5vw;
}

.termDiv{
  margin-left: 5vw;
}

.imageRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3vw;
  margin-right: 3vw;
}