{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/sidebar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/loader.css') }}">

<title> Symbol Dictionary </title>
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

<div id="main" align="center">
	<br>
	<div class="spinner-border m-5" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<h1> Symbol Finder </h1>
	<br>

	<!-- <h2> Select a username:  </h2> -->
	<div id="username_btns"> </div>
	<div style="display:none" id="usernameLoader" class="loader"></div>
	<div id="username_alert"></div>

	<div style="display:block" id="startLoader" class="loader"></div>
	<div id="username_enter">

		<label for="inp" class="inp" id="username_input">
			<input type="text" id="username_text" placeholder="New User or New Group">
			<!-- <span class="border"></span> -->
		</label>
	</div>

	<hr>

	<div id="concepts_div" style="display:none">
		<div id="symbol_enter">


			<label for="inp" class="inp" id="concept_input">
				<h5>New concept:</h5>
				<div id="concept_alert" style="display: none;">concept already exists</div>
				<div id="concept_not_in_swow_dict" style="display: none;">concept not found in the dictionary
				</div>

				<input type="text" id="concept_text" placeholder="Enter a new concept to symbolize">
				
			</label>
		</div>

		<br>
		<hr>
		<br>

		<div id="concept_btns"> </div>
		<div style="display:none" id="conceptLoad" class="loader"></div>

	</div>

</div>

<script>

	var concept_dict = null;
	var username_dict = null;
	var selected_username = null;
	var new_users = [];
	var prev_concept = "";

	window.onload = function () {

		$.ajax({
			type: "POST",
			url: "get_usernames_and_concepts",
			contentType: "application/json; charset=utf-8",
			async: false,
			success: function (data, text) {
				$('#startLoader').attr("style", "display:none")
				username_dict = data;
				populate_username_btns();
			},
			error: function (request, status, error) {
				console.log("Error");
				console.log(request)
				console.log(status)
				console.log(error)
			}

		});

	};



	var username_input = document.getElementById("username_input");
	username_input.addEventListener("keydown", function (e) {
		$('#username_alert').html("")

		if (e.keyCode == 13) {
			var entered_username = document.getElementById("username_text").value;
			//Trim username, 
			entered_username = entered_username.trim();
			// entered_username = entered_username.charAt(0).toUpperCase() + entered_username.slice(1);

			console.log("username: ", entered_username)

			let isNewProjectName = true;

			for (projectName in username_dict){
				if(projectName.toLowerCase() == entered_username.toLowerCase()){
					isNewProjectName = false;
					console.log("same user name: ", entered_username)
				}
			}

			if (entered_username != "" && isNewProjectName) {
				// username_dict[entered_username] = {"concepts":{}}; 
			
					$('#usernameLoader').attr("style", "display:block")
				$.ajax({
					type: "POST",
					url: "save_username",
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify(entered_username),
					success: function (data, text) {
						console.log('save_username route called')
						username_dict = data;
						new_users.push(entered_username);
						add_username_button(entered_username);
						select_username(entered_username);
						populate_symbol_btns(entered_username);
						$('#usernameLoader').attr("style", "display:none")
						$('#username_alert').html("")
						$('#username_enter').hide();

					},
					error: function (request, status, error) {
						console.log("Error");
						console.log(request)
						console.log(status)
						console.log(error)
					}
				});
			}
			else { // username exist 
				$('#username_alert').html("username or group already exists")
			}
		}
	
	});

	var concept_input = document.getElementById("concept_input");
	concept_input.addEventListener("keydown", function (e) {
		if (e.keyCode === 13) {  //checks whether the pressed key is "Enter"
			//get value
			var entered_concept = document.getElementById("concept_text").value;

			// string edge cases, and trim takes out white spaces 
			entered_concept = entered_concept.toLowerCase().trim();

			$.ajax({
				type: "POST",
				url: "is_concept_in_swow_dict",
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify({ "concept": entered_concept }),
				success: function (data) {
					// console.log("isConceptInSwowDict : " ,data.isConceptInSwowDict);
					if (data.isConceptInSwowDict) {

						$.ajax({
							type: "POST",
							url: "get_project_json",
							contentType: "application/json; charset=utf-8",
							success: function (data) {
								username_dict = data;
								var username_concepts_dict = username_dict[selected_username]["concepts"];
								let isNewConcept = username_dict[selected_username]["concepts"][entered_concept];

								//console.log("is ", entered_concept, "a new concept: " , (isNewConcept == undefined) );
								if (!username_dict[selected_username]["concepts"].hasOwnProperty(entered_concept)) {
									save_concept_ajax(selected_username, entered_concept);
								}
								else {
									$('#concept_alert').show();
									$('#concept_not_in_swow_dict').hide();
								}
							},
							error: function (request, status, error) {
								console.log("Error");
								console.log(request)
								console.log(status)
								console.log(error)
							}
						});

					} else {
						//concept does not exist in the dictionary 
						$('#concept_alert').hide();
						$('#concept_not_in_swow_dict').show();


					}
				},
				error: function (request, status, error) {
					console.log("Error");
					console.log(request)
					console.log(status)
					console.log(error)
				}
			});

			// get_project_json


		}
		else {
			$('#concept_alert').hide();
			$('#concept_not_in_swow_dict').hide();

		}
	});

	function save_concept_ajax(username, concept) {
		$.ajax({
			type: "POST",
			url: "save_concept",
			contentType: "application/json; charset=utf-8",
			data: JSON.stringify({ "concept": concept, "username": username }),
			success: function (data, text) {
				// console.log("data: " ,  data[select_username]["concepts"][entered_concept])
				console.log('success: save_concept_ajax data: ', data)
				username_dict = data;
				add_concept_button(concept);
				$('#concept_alert').hide();
			},
			error: function (request, status, error) {
				console.log("Error");
				console.log(request)
				console.log(status)
				console.log(error)
			}
		});

	}

	function populate_symbol_btns(username) {
		document.getElementById("concept_btns").innerHTML = "";
		var concept_dict = username_dict[username]["concepts"];
		for (var concept in concept_dict) {
			if (Object.prototype.hasOwnProperty.call(concept_dict, concept)) {
				add_concept_button(concept);
			}
		}
	}

	function populate_username_btns() {
		for (var username in username_dict) {
			if (Object.prototype.hasOwnProperty.call(username_dict, username)) {
				add_username_button(username);
			}
		}
	}

	function go_to_symbol_page(concept, username) {
		// console.log(concept)

		$.ajax({
			type: "POST",
			url: "/get_tree_view_json",
			dataType: "json",
			contentType: "application/json; charset=utf-8",
			data: JSON.stringify({ "username": username, "concept": concept }),
			success: function (result) {

				//   $('#loader').attr("style", "display:none")
				let tree_view_json = JSON.parse(result);

				if (tree_view_json.hasOwnProperty("children")) {
					// let tree_view_json_children = tree_view_json.children;
					window.location.href = username + '/symbols/' + concept;
					$('#conceptLoad').show();
				}
				else {
					// window.location.href = '/' + username + '/finder/' + concept;
					window.location.href = '/' + username + '/' + concept + '/' + 'phase_1' + '/finder' ;

					$('#conceptLoad').show();
				}

			},
			error: function (request, status, error) {
				console.log("Error");
				console.log(request)
				console.log(status)
				console.log(error)
			}
		});


	}

	function select_username(username) {
		$('#username_enter').hide();
		$('#username_alert').hide();

		selected_username = username;
		var concepts_div = document.getElementById("concepts_div");
		if (concepts_div.style.display === "none") {
			concepts_div.style.display = "block";
		}
		if (new_users.includes(username) == false) {
			populate_symbol_btns(username);
		}

		var username_btns_div = document.getElementById("username_btns");
		var child_elements = username_btns_div.childNodes;
		for (var i = 0; i < child_elements.length; i++) {
			var child = child_elements[i];
			if (child.className == "username_btn" || child.className == "username_btn username_active") {
				if (child.innerHTML != selected_username) {
					child.classList.remove("username_active");
				}
				else {
					child.classList.add("username_active");
				}
			}
		}
	}

	function add_username_button(username) {
		// console.log(username)
		var username_btn = document.createElement("BUTTON");
		username_btn.innerHTML = username;
		username_btn.id = username + '_btn';
		username_btn.className = "username_btn";
		username_btn.setAttribute("onclick", "select_username(\"" + username + "\")");
		document.getElementById("username_btns").appendChild(username_btn);
	}

	function add_concept_button(concept) {
		// console.log(concept)
		var concept_btn = document.createElement("BUTTON");
		concept_btn.innerHTML = concept;
		concept_btn.id = concept + '_btn';
		concept_btn.className = "symbol_button";
		concept_btn.setAttribute("onclick", "go_to_symbol_page(\"" + concept + "\",\"" + selected_username + "\")");
		document.getElementById("concept_btns").appendChild(concept_btn);

	}


</script>


{% endblock %}